.grid8 {
    text-align: right;
    vertical-align: middle;
    @include breakpoint($less-lg) {
        display: none;
    }
    .top-menu,
    .footer-menu {
        display: none;
        @include breakpoint($lg) {
            display: inline-block;
            vertical-align: middle;
        }
        ul {
            display: block;
            width: 100%;
            li {
                display: inline-block;
                position: relative;
                padding: 0 1px;
                a {
                    color: #555;
                    font-family: $text;
                    color: #444;
                    font-size: 14px;
                    text-decoration: none;
                    text-transform: lowercase;
                    @include transition (color 0.5s);
                    &.linkActive {
                        color: $orange;
                    }
                }
                ul {
                    display: none;
                }
                &:hover ul {
                    position: absolute;
                    display: block;
                    width: 300%;
                    @include transform(translateX(-33%));
                    li {
                        display: block;
                        background: transparent;
                        &:first-child {
                            padding-top: 5px;
                        }
                        &:last-child {
                            border-bottom: none;
                        }
                        a {
                            font-size: 13px;
                            color: $white;
                            display: block;
                            padding: 10px 4px;
                            &:hover {
                                background: $white;
                            }
                        }
                    }
                }
                &:after {
                    content: "|";
                    padding-left: 5px;
                    font-size: 14px;
                    color: #555;
                    font-family: $text;
                }
                &:last-child:after {
                    display: none;
                }
            }
        }
    }
    .footer-menu ul li {
        &:after {
            color: $white;
        }
        a {
            color: $white;
        }
    }
}
.mobile-menu {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 80;
    background: $white;
    ul {
        position: absolute;
        @include transform(translateY(-50%));
        top: 55%;
        width: 62.5%;
        left: 0;
        display: block;
        text-align: left;
        padding-left: 10%;
        li {
            padding: 16px 0;
            border-bottom: 1px solid $orange;
            a {
                text-decoration: none;
                color: $text-grey;
                font-size: 20px;
                font-family: $bold;
            }
            ul {
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                @include transform(translateY(0));
            }
        }
    }
}
.menu_button {
    @include breakpoint($lg) {
        display: none;
    }
    @include breakpoint($sm) {
        font-size: 50px;
    }
    @include breakpoint($md) {
        font-size: 60px;
    }
    z-index: 120;
    position: absolute;
    top: 10px;
    padding: 0;
    @include breakpoint($md) {
        top: 20px;
    }
    right: 0;
    @include breakpoint($md) {
        right: 4px;
    }
    font-size: 44px;
    color: $orange;
    background: none;
    border: none;
    outline: none;
    box-shadow: none!important;
    &:before {
        font-family: 'icomoon';
        content: "\e600";
    }
    &.is-open:before {
        font-family: 'icomoon';
        content: "\e601";
    }
    &.level2:before {
        content: "\e602";
    }
}
