/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/inandout-co-uk/_img/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'RobotoRegular';
  src: url("/inandout-co-uk/_img/fonts/fonts/Roboto-Regular-webfont.eot");
  src: url("/inandout-co-uk/_img/fonts/fonts/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("/inandout-co-uk/_img/fonts/fonts/Roboto-Regular-webfont.woff") format("woff"), url("/inandout-co-uk/_img/fonts/Roboto-Regular-webfont.ttf") format("truetype"), url("/inandout-co-uk/_img/fonts/Roboto-Regular-webfont.svg#RobotoRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoItalic';
  src: url("/inandout-co-uk/_img/fonts/Roboto-Italic-webfont.eot");
  src: url("/inandout-co-uk/_img/fonts/Roboto-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("/inandout-co-uk/_img/fonts/Roboto-Italic-webfont.woff") format("woff"), url("/inandout-co-uk/_img/fonts/Roboto-Italic-webfont.ttf") format("truetype"), url("/inandout-co-uk/_img/fonts/Roboto-Italic-webfont.svg#RobotoItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBold';
  src: url("/inandout-co-uk/_img/fonts/Roboto-Bold-webfont.eot");
  src: url("/inandout-co-uk/_img/fonts/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("/inandout-co-uk/_img/fonts/Roboto-Bold-webfont.woff") format("woff"), url("/inandout-co-uk/_img/fonts/Roboto-Bold-webfont.ttf") format("truetype"), url("/inandout-co-uk/_img/fonts/Roboto-Bold-webfont.svg#RobotoBold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBoldItalic';
  src: url("/inandout-co-uk/_img/fonts/Roboto-BoldItalic-webfont.eot");
  src: url("/inandout-co-uk/_img/fonts/Roboto-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("/inandout-co-uk/_img/fonts/Roboto-BoldItalic-webfont.woff") format("woff"), url("/inandout-co-uk/_img/fonts/Roboto-BoldItalic-webfont.ttf") format("truetype"), url("/inandout-co-uk/_img/fonts/Roboto-BoldItalic-webfont.svg#RobotoBoldItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoCondensed';
  src: url("/inandout-co-uk/_img/fonts/RobotoCondensed-Regular.eot");
  src: url("/inandout-co-uk/_img/fonts/RobotoCondensed-Regular.eot?#iefix") format("embedded-opentype"), url("/inandout-co-uk/_img/fonts/RobotoCondensed-Regular.woff") format("woff"), url("/inandout-co-uk/_img/fonts/RobotoCondensed-Regular.ttf") format("truetype"), url("/inandout-co-uk/_img/fonts/RobotoCondensed-Regular.svg#RobotoCondensed") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoCondensedItalic';
  src: url("/inandout-co-uk/_img/fonts/Roboto-CondensedItalic-webfont.eot");
  src: url("/inandout-co-uk/_img/fonts/Roboto-CondensedItalic-webfont.eot?#iefix") format("embedded-opentype"), url("/inandout-co-uk/_img/fonts/Roboto-CondensedItalic-webfont.woff") format("woff"), url("/inandout-co-uk/_img/fonts/Roboto-CondensedItalic-webfont.ttf") format("truetype"), url("/inandout-co-uk/_img/fonts/Roboto-CondensedItalic-webfont.svg#RobotoCondensedItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBoldCondensed';
  src: url("/inandout-co-uk/_img/fonts/Roboto-BoldCondensed-webfont.eot");
  src: url("/inandout-co-uk/_img/fonts/Roboto-BoldCondensed-webfont.eot?#iefix") format("embedded-opentype"), url("/inandout-co-uk/_img/fonts/Roboto-BoldCondensed-webfont.woff") format("woff"), url("/inandout-co-uk/_img/fonts/Roboto-BoldCondensed-webfont.ttf") format("truetype"), url("/inandout-co-uk/_img/fonts/Roboto-BoldCondensed-webfont.svg#RobotoBoldCondensed") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBoldCondensedItalic';
  src: url("/inandout-co-uk/_img/fonts/Roboto-BoldCondensedItalic-webfont.eot");
  src: url("/inandout-co-uk/_img/fonts/Roboto-BoldCondensedItalic-webfont.eot?#iefix") format("embedded-opentype"), url("/inandout-co-uk/_img/fonts/Roboto-BoldCondensedItalic-webfont.woff") format("woff"), url("/inandout-co-uk/_img/fonts/Roboto-BoldCondensedItalic-webfont.ttf") format("truetype"), url("/inandout-co-uk/_img/fonts/Roboto-BoldCondensedItalic-webfont.svg#RobotoBoldCondensedItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoThin';
  src: url("/inandout-co-uk/_img/fonts/Roboto-Thin-webfont.eot");
  src: url("/inandout-co-uk/_img/fonts/Roboto-Thin-webfont.eot?#iefix") format("embedded-opentype"), url("/inandout-co-uk/_img/fonts/Roboto-Thin-webfont.woff") format("woff"), url("/inandout-co-uk/_img/fonts/Roboto-Thin-webfont.ttf") format("truetype"), url("/inandout-co-uk/_img/fonts/Roboto-Thin-webfont.svg#RobotoThin") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoThinItalic';
  src: url("/inandout-co-uk/_img/fonts/Roboto-ThinItalic-webfont.eot");
  src: url("/inandout-co-uk/_img/fonts/Roboto-ThinItalic-webfont.eot?#iefix") format("embedded-opentype"), url("/inandout-co-uk/_img/fonts/Roboto-ThinItalic-webfont.woff") format("woff"), url("/inandout-co-uk/_img/fonts/Roboto-ThinItalic-webfont.ttf") format("truetype"), url("/inandout-co-uk/_img/fonts/Roboto-ThinItalic-webfont.svg#RobotoThinItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoLight';
  src: url("/inandout-co-uk/_img/fonts/Roboto-Light-webfont.eot");
  src: url("/inandout-co-uk/_img/fonts/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url("/inandout-co-uk/_img/fonts/Roboto-Light-webfont.woff") format("woff"), url("/inandout-co-uk/_img/fonts/Roboto-Light-webfont.ttf") format("truetype"), url("/inandout-co-uk/_img/fonts/Roboto-Light-webfont.svg#RobotoLight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoLightItalic';
  src: url("/inandout-co-uk/_img/fonts/Roboto-LightItalic-webfont.eot");
  src: url("/inandout-co-uk/_img/fonts/Roboto-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("/inandout-co-uk/_img/fonts/Roboto-LightItalic-webfont.woff") format("woff"), url("/inandout-co-uk/_img/fonts/Roboto-LightItalic-webfont.ttf") format("truetype"), url("/inandout-co-uk/_img/fonts/Roboto-LightItalic-webfont.svg#RobotoLightItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoMedium';
  src: url("/inandout-co-uk/_img/fonts/Roboto-Medium-webfont.eot");
  src: url("/inandout-co-uk/_img/fonts/Roboto-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("/inandout-co-uk/_img/fonts/Roboto-Medium-webfont.woff") format("woff"), url("/inandout-co-uk/_img/fonts/Roboto-Medium-webfont.ttf") format("truetype"), url("/inandout-co-uk/_img/fonts/Roboto-Medium-webfont.svg#RobotoMedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoMediumItalic';
  src: url("/inandout-co-uk/_img/fonts/Roboto-MediumItalic-webfont.eot");
  src: url("/inandout-co-uk/_img/fonts/Roboto-MediumItalic-webfont.eot?#iefix") format("embedded-opentype"), url("/inandout-co-uk/_img/fonts/Roboto-MediumItalic-webfont.woff") format("woff"), url("/inandout-co-uk/_img/fonts/Roboto-MediumItalic-webfont.ttf") format("truetype"), url("/inandout-co-uk/_img/fonts/Roboto-MediumItalic-webfont.svg#RobotoMediumItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBlack';
  src: url("/inandout-co-uk/_img/fonts/Roboto-Black-webfont.eot");
  src: url("/inandout-co-uk/_img/fonts/Roboto-Black-webfont.eot?#iefix") format("embedded-opentype"), url("/inandout-co-uk/_img/fonts/Roboto-Black-webfont.woff") format("woff"), url("/inandout-co-uk/_img/fonts/Roboto-Black-webfont.ttf") format("truetype"), url("/inandout-co-uk/_img/fonts/Roboto-Black-webfont.svg#RobotoBlack") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBlackItalic';
  src: url("/inandout-co-uk/_img/fonts/Roboto-BlackItalic-webfont.eot");
  src: url("/inandout-co-uk/_img/fonts/Roboto-BlackItalic-webfont.eot?#iefix") format("embedded-opentype"), url("/inandout-co-uk/_img/fonts/Roboto-BlackItalic-webfont.woff") format("woff"), url("/inandout-co-uk/_img/fonts/Roboto-BlackItalic-webfont.ttf") format("truetype"), url("/inandout-co-uk/_img/fonts/Roboto-BlackItalic-webfont.svg#RobotoBlackItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url("/inandout-co-uk/_img/fonts/icomoon.eot?wycmvo");
  src: url("/inandout-co-uk/_img/fonts/icomoon.eot?#iefixwycmvo") format("embedded-opentype"), url("/inandout-co-uk/_img/fonts/icomoon.ttf?wycmvo") format("truetype"), url("/inandout-co-uk/_img/fonts/icomoon.woff?wycmvo") format("woff"), url("/inandout-co-uk/_img/fonts/icomoon.svg?wycmvo#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* icomoon icons */
/* line 123, ../sass/_typography.scss */
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 136, ../sass/_typography.scss */
.icon-chevron-thin-left:before {
  content: "\e603";
}

/* line 139, ../sass/_typography.scss */
.icon-chevron-thin-right:before {
  content: "\e604";
}

/* line 142, ../sass/_typography.scss */
.icon-cross:before {
  content: "\e601";
}

/* line 145, ../sass/_typography.scss */
.icon-menu:before {
  content: "\e600";
}

/*
COLOURS*/
/*  
FONTS */
/*
MORE */
/* line 8, ../sass/_grid.scss */
.container {
  max-width: 1199px;
  width: 100%;
  margin: 0px auto;
  padding: 0 12.5px 0 12.5px;
  display: block;
}

/* line 24, ../sass/_grid.scss */
.grid1 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1025px) {
  /* line 24, ../sass/_grid.scss */
  .grid1 {
    width: 6.16514%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.00167%;
    margin-bottom: 0;
  }
}

/* line 24, ../sass/_grid.scss */
.grid2 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1025px) {
  /* line 24, ../sass/_grid.scss */
  .grid2 {
    width: 14.33194%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.00167%;
    margin-bottom: 0;
  }
}

/* line 24, ../sass/_grid.scss */
.grid3 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1025px) {
  /* line 24, ../sass/_grid.scss */
  .grid3 {
    width: 22.49875%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.00167%;
    margin-bottom: 0;
  }
}

/* line 24, ../sass/_grid.scss */
.grid4, .blogstrip .blogSummary .blogSummaryWrap {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1025px) {
  /* line 24, ../sass/_grid.scss */
  .grid4, .blogstrip .blogSummary .blogSummaryWrap {
    width: 30.66555%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.00167%;
    margin-bottom: 0;
  }
}

/* line 24, ../sass/_grid.scss */
.grid5 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1025px) {
  /* line 24, ../sass/_grid.scss */
  .grid5 {
    width: 38.83236%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.00167%;
    margin-bottom: 0;
  }
}

/* line 24, ../sass/_grid.scss */
.grid6 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1025px) {
  /* line 24, ../sass/_grid.scss */
  .grid6 {
    width: 46.99917%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.00167%;
    margin-bottom: 0;
  }
}

/* line 24, ../sass/_grid.scss */
.grid7 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1025px) {
  /* line 24, ../sass/_grid.scss */
  .grid7 {
    width: 55.16597%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.00167%;
    margin-bottom: 0;
  }
}

/* line 24, ../sass/_grid.scss */
.grid8 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1025px) {
  /* line 24, ../sass/_grid.scss */
  .grid8 {
    width: 63.33278%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.00167%;
    margin-bottom: 0;
  }
}

/* line 24, ../sass/_grid.scss */
.grid9 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1025px) {
  /* line 24, ../sass/_grid.scss */
  .grid9 {
    width: 71.49958%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.00167%;
    margin-bottom: 0;
  }
}

/* line 24, ../sass/_grid.scss */
.grid10 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1025px) {
  /* line 24, ../sass/_grid.scss */
  .grid10 {
    width: 79.66639%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.00167%;
    margin-bottom: 0;
  }
}

/* line 24, ../sass/_grid.scss */
.grid11 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1025px) {
  /* line 24, ../sass/_grid.scss */
  .grid11 {
    width: 87.83319%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.00167%;
    margin-bottom: 0;
  }
}

/* line 24, ../sass/_grid.scss */
.grid12 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1025px) {
  /* line 24, ../sass/_grid.scss */
  .grid12 {
    width: 96%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.00167%;
    margin-bottom: 0;
  }
}

/* apply a natural box layout model to all elements, but allowing components to change */
/* line 3, ../sass/_general.scss */
html {
  box-sizing: border-box;
}

/* line 6, ../sass/_general.scss */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* line 11, ../sass/_general.scss */
body {
  background: #fdfdfd;
  overflow-x: hidden;
}
/* line 14, ../sass/_general.scss */
body.menu_up {
  overflow: hidden;
}
/* line 17, ../sass/_general.scss */
body p {
  font-family: "RobotoRegular", sans-serif;
  margin-bottom: 10px;
  line-height: 1.4;
}
/* line 22, ../sass/_general.scss */
body button, body .blogstrip .blogSummary .blogSummaryWrap .blogSummaryLink a, .blogstrip .blogSummary .blogSummaryWrap .blogSummaryLink body a {
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
  font-family: "RobotoBlack", sans-serif;
  padding: 10px 15px;
  background: #d86913;
  margin-top: 12px;
}
@media (min-width: 1025px) {
  /* line 22, ../sass/_general.scss */
  body button, body .blogstrip .blogSummary .blogSummaryWrap .blogSummaryLink a, .blogstrip .blogSummary .blogSummaryWrap .blogSummaryLink body a {
    padding: 24px 77px;
  }
}
/* line 35, ../sass/_general.scss */
body button:hover, body .blogstrip .blogSummary .blogSummaryWrap .blogSummaryLink a:hover, .blogstrip .blogSummary .blogSummaryWrap .blogSummaryLink body a:hover {
  cursor: pointer;
}
/* line 39, ../sass/_general.scss */
body .middle {
  vertical-align: middle;
}
/* line 42, ../sass/_general.scss */
body strong {
  font-family: "RobotoMedium", sans-serif;
}
/* line 45, ../sass/_general.scss */
body b {
  font-family: "RobotoBlack", sans-serif;
}
/* line 48, ../sass/_general.scss */
body .light {
  font-family: "RobotoLight", sans-serif;
}
/* line 51, ../sass/_general.scss */
body .italic,
body em {
  font-family: "RobotoItalic", sans-serif;
}
/* line 55, ../sass/_general.scss */
body h1 {
  font-family: "RobotoCondensed", sans-serif;
  font-size: 34px;
}
/* line 58, ../sass/_general.scss */
body h1 strong {
  font-family: "RobotoBoldCondensed", sans-serif;
}
/* line 61, ../sass/_general.scss */
body h1:after {
  content: "";
  margin: 20px 0;
  display: block;
  width: 70px;
  height: 7px;
  background: #fdfdfd;
}
@media (max-width: 1024px) {
  /* line 71, ../sass/_general.scss */
  body .flex-direction-nav {
    display: none;
  }
}

/* line 1, ../sass/_nav.scss */
.grid8 {
  text-align: right;
  vertical-align: middle;
}
@media (max-width: 1024px) {
  /* line 1, ../sass/_nav.scss */
  .grid8 {
    display: none;
  }
}
/* line 7, ../sass/_nav.scss */
.grid8 .top-menu,
.grid8 .footer-menu {
  display: none;
}
@media (min-width: 1025px) {
  /* line 7, ../sass/_nav.scss */
  .grid8 .top-menu,
  .grid8 .footer-menu {
    display: inline-block;
    vertical-align: middle;
  }
}
/* line 14, ../sass/_nav.scss */
.grid8 .top-menu ul,
.grid8 .footer-menu ul {
  display: block;
  width: 100%;
}
/* line 17, ../sass/_nav.scss */
.grid8 .top-menu ul li,
.grid8 .footer-menu ul li {
  display: inline-block;
  position: relative;
  padding: 0 1px;
}
/* line 21, ../sass/_nav.scss */
.grid8 .top-menu ul li a,
.grid8 .footer-menu ul li a {
  color: #555;
  font-family: "RobotoRegular", sans-serif;
  color: #444;
  font-size: 14px;
  text-decoration: none;
  text-transform: lowercase;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  transition: color 0.5s;
}
/* line 29, ../sass/_nav.scss */
.grid8 .top-menu ul li a.linkActive,
.grid8 .footer-menu ul li a.linkActive {
  color: #d86913;
}
/* line 33, ../sass/_nav.scss */
.grid8 .top-menu ul li ul,
.grid8 .footer-menu ul li ul {
  display: none;
}
/* line 36, ../sass/_nav.scss */
.grid8 .top-menu ul li:hover ul,
.grid8 .footer-menu ul li:hover ul {
  position: absolute;
  display: block;
  width: 300%;
  -webkit-transform: translateX(-33%);
  -moz-transform: translateX(-33%);
  -ms-transform: translateX(-33%);
  -o-transform: translateX(-33%);
  transform: translateX(-33%);
}
/* line 41, ../sass/_nav.scss */
.grid8 .top-menu ul li:hover ul li,
.grid8 .footer-menu ul li:hover ul li {
  display: block;
  background: transparent;
}
/* line 44, ../sass/_nav.scss */
.grid8 .top-menu ul li:hover ul li:first-child,
.grid8 .footer-menu ul li:hover ul li:first-child {
  padding-top: 5px;
}
/* line 47, ../sass/_nav.scss */
.grid8 .top-menu ul li:hover ul li:last-child,
.grid8 .footer-menu ul li:hover ul li:last-child {
  border-bottom: none;
}
/* line 50, ../sass/_nav.scss */
.grid8 .top-menu ul li:hover ul li a,
.grid8 .footer-menu ul li:hover ul li a {
  font-size: 13px;
  color: #fdfdfd;
  display: block;
  padding: 10px 4px;
}
/* line 55, ../sass/_nav.scss */
.grid8 .top-menu ul li:hover ul li a:hover,
.grid8 .footer-menu ul li:hover ul li a:hover {
  background: #fdfdfd;
}
/* line 61, ../sass/_nav.scss */
.grid8 .top-menu ul li:after,
.grid8 .footer-menu ul li:after {
  content: "|";
  padding-left: 5px;
  font-size: 14px;
  color: #555;
  font-family: "RobotoRegular", sans-serif;
}
/* line 68, ../sass/_nav.scss */
.grid8 .top-menu ul li:last-child:after,
.grid8 .footer-menu ul li:last-child:after {
  display: none;
}
/* line 75, ../sass/_nav.scss */
.grid8 .footer-menu ul li:after {
  color: #fdfdfd;
}
/* line 78, ../sass/_nav.scss */
.grid8 .footer-menu ul li a {
  color: #fdfdfd;
}

/* line 83, ../sass/_nav.scss */
.mobile-menu {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 80;
  background: #fdfdfd;
}
/* line 91, ../sass/_nav.scss */
.mobile-menu ul {
  position: absolute;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 55%;
  width: 62.5%;
  left: 0;
  display: block;
  text-align: left;
  padding-left: 10%;
}
/* line 100, ../sass/_nav.scss */
.mobile-menu ul li {
  padding: 16px 0;
  border-bottom: 1px solid #d86913;
}
/* line 103, ../sass/_nav.scss */
.mobile-menu ul li a {
  text-decoration: none;
  color: #565656;
  font-size: 20px;
  font-family: "RobotoBlack", sans-serif;
}
/* line 109, ../sass/_nav.scss */
.mobile-menu ul li ul {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

/* line 120, ../sass/_nav.scss */
.menu_button {
  z-index: 120;
  position: absolute;
  top: 10px;
  padding: 0;
  right: 0;
  font-size: 44px;
  color: #d86913;
  background: none;
  border: none;
  outline: none;
  box-shadow: none !important;
}
@media (min-width: 1025px) {
  /* line 120, ../sass/_nav.scss */
  .menu_button {
    display: none;
  }
}
@media (min-width: 400px) {
  /* line 120, ../sass/_nav.scss */
  .menu_button {
    font-size: 50px;
  }
}
@media (min-width: 600px) {
  /* line 120, ../sass/_nav.scss */
  .menu_button {
    font-size: 60px;
  }
}
@media (min-width: 600px) {
  /* line 120, ../sass/_nav.scss */
  .menu_button {
    top: 20px;
  }
}
@media (min-width: 600px) {
  /* line 120, ../sass/_nav.scss */
  .menu_button {
    right: 4px;
  }
}
/* line 147, ../sass/_nav.scss */
.menu_button:before {
  font-family: 'icomoon';
  content: "\e600";
}
/* line 151, ../sass/_nav.scss */
.menu_button.is-open:before {
  font-family: 'icomoon';
  content: "\e601";
}
/* line 155, ../sass/_nav.scss */
.menu_button.level2:before {
  content: "\e602";
}

/* line 1, ../sass/_sections.scss */
header {
  width: 100%;
  padding: 15px 0 1px;
  display: block;
  background: #fdfdfd;
  z-index: 100;
  position: fixed;
  box-shadow: 1px 1px 1px rgba(0, 0, 7, 0.3);
}
@media (min-width: 600px) {
  /* line 1, ../sass/_sections.scss */
  header {
    padding-bottom: 10px;
  }
}
@media (min-width: 1025px) {
  /* line 1, ../sass/_sections.scss */
  header {
    position: static;
  }
}
/* line 15, ../sass/_sections.scss */
header .grid3 {
  margin: 0;
}
/* line 18, ../sass/_sections.scss */
header .grid7 {
  display: none;
}
@media (min-width: 1025px) {
  /* line 18, ../sass/_sections.scss */
  header .grid7 {
    display: inline-block;
  }
}
/* line 24, ../sass/_sections.scss */
header .container {
  position: relative;
  margin-top: 4px;
}
/* line 27, ../sass/_sections.scss */
header .container .grid3 {
  vertical-align: middle;
}
/* line 29, ../sass/_sections.scss */
header .container .grid3 .logo {
  display: inline-block;
  min-width: 200px;
  width: 100%;
  position: relative;
}
/* line 34, ../sass/_sections.scss */
header .container .grid3 .logo img {
  max-width: 50%;
}
@media (min-width: 600px) {
  /* line 34, ../sass/_sections.scss */
  header .container .grid3 .logo img {
    max-width: 100%;
  }
}
/* line 42, ../sass/_sections.scss */
header .container .grid1 {
  display: none;
  text-align: right;
  vertical-align: middle;
}
@media (min-width: 1025px) {
  /* line 42, ../sass/_sections.scss */
  header .container .grid1 {
    display: inline-block;
  }
}
/* line 49, ../sass/_sections.scss */
header .container .grid1 button, header .container .grid1 .blogstrip .blogSummary .blogSummaryWrap .blogSummaryLink a, .blogstrip .blogSummary .blogSummaryWrap .blogSummaryLink header .container .grid1 a {
  padding: 10px;
  margin: 0;
}
/* line 52, ../sass/_sections.scss */
header .container .grid1 button img, header .container .grid1 .blogstrip .blogSummary .blogSummaryWrap .blogSummaryLink a img, .blogstrip .blogSummary .blogSummaryWrap .blogSummaryLink header .container .grid1 a img {
  max-width: 24px;
}

/* line 59, ../sass/_sections.scss */
.flex-container {
  position: relative;
  padding-top: 80px;
}
@media (min-width: 600px) {
  /* line 59, ../sass/_sections.scss */
  .flex-container {
    display: block;
  }
}
@media (min-width: 1025px) {
  /* line 59, ../sass/_sections.scss */
  .flex-container {
    padding-top: 0;
  }
}
/* line 68, ../sass/_sections.scss */
.flex-container .flexslider {
  border: none;
}
/* line 70, ../sass/_sections.scss */
.flex-container .flexslider li {
  border-top: 2px solid #bebebe;
}
/* line 75, ../sass/_sections.scss */
.flex-container li p.flex-caption {
  display: block;
  text-shadow: none;
  width: 100%;
  max-width: 1175px;
  margin: 0 auto;
  position: relative;
  padding: 140px 0 90px;
  text-align: left;
  background: none;
  bottom: inherit;
  font-size: 75px;
  line-height: 1;
  font-family: "RobotoBoldCondensed", sans-serif;
  color: #565656;
}
@media (min-width: 1025px) {
  /* line 75, ../sass/_sections.scss */
  .flex-container li p.flex-caption {
    padding: 190px 0;
  }
}
/* line 93, ../sass/_sections.scss */
.flex-container li p.flex-caption span {
  display: block;
}
/* line 96, ../sass/_sections.scss */
.flex-container li p.flex-caption span:first-child {
  color: #d86913;
}
/* line 101, ../sass/_sections.scss */
.flex-container .flex-control-nav {
  display: none;
}

/* line 105, ../sass/_sections.scss */
.welcome {
  padding: 75px 0;
  background: #e1e1e1;
  font-size: 19px;
  line-height: 1.4;
}
/* line 110, ../sass/_sections.scss */
.welcome .tickstrip {
  margin-bottom: 25px;
}
/* line 111, ../sass/_sections.scss */
.welcome .tickstrip .tick,
.welcome .tickstrip .tick-text {
  display: inline-block;
}
/* line 118, ../sass/_sections.scss */
.welcome .grid12 p {
  margin-bottom: 35px;
}

/* line 123, ../sass/_sections.scss */
.testimonials {
  color: #fdfdfd;
  background: #d86913;
  font-size: 19px;
}
/* line 127, ../sass/_sections.scss */
.testimonials .flex-container-testimonials {
  padding: 75px 0;
  background: url("/inandout-co-uk/_img/logofade.png");
  background-position: 75%;
  background-repeat: no-repeat;
}
/* line 132, ../sass/_sections.scss */
.testimonials .flex-container-testimonials .flexslider {
  background: none;
  border: none;
}
/* line 135, ../sass/_sections.scss */
.testimonials .flex-container-testimonials .flexslider .grid3 {
  display: none;
  margin: 0;
}
@media (min-width: 1025px) {
  /* line 135, ../sass/_sections.scss */
  .testimonials .flex-container-testimonials .flexslider .grid3 {
    display: inline-block;
  }
}
/* line 141, ../sass/_sections.scss */
.testimonials .flex-container-testimonials .flexslider .grid3 img {
  width: auto;
}
/* line 145, ../sass/_sections.scss */
.testimonials .flex-container-testimonials .flexslider .grid3,
.testimonials .flex-container-testimonials .flexslider .grid9 {
  vertical-align: middle;
  margin-bottom: 0;
}
/* line 150, ../sass/_sections.scss */
.testimonials .flex-container-testimonials .flexslider .flex-direction-nav a:before {
  color: #fdfdfd;
}
/* line 154, ../sass/_sections.scss */
.testimonials .flex-container-testimonials .flexslider li p.flex-caption {
  display: block;
  text-shadow: none;
  width: 100%;
  max-width: 1175px;
  margin: 0 auto;
}
@media (min-width: 1025px) {
  /* line 163, ../sass/_sections.scss */
  .testimonials .flex-container-testimonials .flex-control-nav {
    display: none;
  }
}

/* line 170, ../sass/_sections.scss */
.blogstrip {
  padding: 50px 0;
  background: #e1e1e1;
}
/* line 173, ../sass/_sections.scss */
.blogstrip h1 {
  color: #333;
}
/* line 175, ../sass/_sections.scss */
.blogstrip h1:after {
  background: #333;
}
/* line 180, ../sass/_sections.scss */
.blogstrip .blogSummary .blogSummaryWrap {
  box-shadow: 0px 0px 3px rgba(1, 1, 3, 0.7);
  background: #bebebe;
  color: #333;
}
@media (min-width: 1025px) {
  /* line 184, ../sass/_sections.scss */
  .blogstrip .blogSummary .blogSummaryWrap:first-child {
    margin-left: 0;
    margin-right: 2%;
  }
  /* line 188, ../sass/_sections.scss */
  .blogstrip .blogSummary .blogSummaryWrap:last-child {
    margin-right: 0;
    margin-left: 2%;
  }
}
@media (max-width: 1024px) {
  /* line 180, ../sass/_sections.scss */
  .blogstrip .blogSummary .blogSummaryWrap {
    margin: 20px auto;
    max-width: 300px;
  }
}
/* line 197, ../sass/_sections.scss */
.blogstrip .blogSummary .blogSummaryWrap .blogSummaryImage {
  height: 180px;
}
/* line 200, ../sass/_sections.scss */
.blogstrip .blogSummary .blogSummaryWrap .blogSummaryTitle {
  margin: 24px;
  font-family: "RobotoBlack", sans-serif;
  font-size: 24px;
}
/* line 204, ../sass/_sections.scss */
.blogstrip .blogSummary .blogSummaryWrap .blogSummaryTitle a {
  text-decoration: none;
  color: #333;
}
/* line 209, ../sass/_sections.scss */
.blogstrip .blogSummary .blogSummaryWrap .blogSummaryDescription {
  font-family: "RobotoRegular", sans-serif;
  font-size: 16px;
  margin: 0 24px;
}
/* line 214, ../sass/_sections.scss */
.blogstrip .blogSummary .blogSummaryWrap .blogSummaryDate {
  display: none;
}
/* line 217, ../sass/_sections.scss */
.blogstrip .blogSummary .blogSummaryWrap .blogSummaryLink {
  padding: 48px 0;
}
/* line 219, ../sass/_sections.scss */
.blogstrip .blogSummary .blogSummaryWrap .blogSummaryLink a {
  margin-left: 24px;
  background: #ababab !important;
  color: #444444 !important;
  text-decoration: none;
  font-family: "RobotoRegular", sans-serif !important;
  -webkit-transition: color background, 2s;
  -moz-transition: color background, 2s;
  transition: color background, 2s;
}
/* line 228, ../sass/_sections.scss */
.blogstrip .blogSummary .blogSummaryWrap .blogSummaryLink a:hover {
  color: #fdfdfd !important;
  background: #d86913 !important;
}

/* line 239, ../sass/_sections.scss */
footer {
  padding: 10px 0 0;
  font-family: "RobotoRegular", sans-serif;
  color: #fdfdfd;
  background: #252525;
  text-align: center;
  font-size: 13px;
}
@media (min-width: 1025px) {
  /* line 239, ../sass/_sections.scss */
  footer {
    padding-top: 25px;
  }
}
@media (min-width: 600px) {
  /* line 239, ../sass/_sections.scss */
  footer {
    font-size: 16px;
  }
}
/* line 253, ../sass/_sections.scss */
footer a {
  color: #fdfdfd;
}
/* line 256, ../sass/_sections.scss */
footer .grid3 {
  vertical-align: middle;
  margin-bottom: 20px;
}
/* line 260, ../sass/_sections.scss */
footer .grid1 {
  display: none;
  vertical-align: middle;
}
@media (min-width: 1025px) {
  /* line 260, ../sass/_sections.scss */
  footer .grid1 {
    display: inline-block;
  }
}
/* line 267, ../sass/_sections.scss */
footer button, footer .blogstrip .blogSummary .blogSummaryWrap .blogSummaryLink a, .blogstrip .blogSummary .blogSummaryWrap .blogSummaryLink footer a {
  padding: 10px;
  margin: 0;
}
/* line 272, ../sass/_sections.scss */
footer .copyright {
  background: #222;
  padding: 10px 0;
}
@media (min-width: 1025px) {
  /* line 272, ../sass/_sections.scss */
  footer .copyright {
    text-align: right;
  }
}
